services:
  zipkin.default_tracing:
    class: Zipkin\DefaultTracing
    public: true
    factory: [ZipkinBundle\TracingFactory, build]
    arguments:
      - "@service_container"

  zipkin.sampler.route:
    class: ZipkinBundle\Samplers\RouteSampler
    public: true
    arguments:
      - "@request_stack"
      - "%zipkin.sampler.route.included_routes%"
      - "%zipkin.sampler.route.excluded_routes%"

  zipkin.sampler.path:
    class: ZipkinBundle\Samplers\PathSampler
    public: true
    arguments:
      - "@request_stack"
      - "%zipkin.sampler.path.included_paths%"
      - "%zipkin.sampler.path.excluded_paths%"
